red1.py
[{"id":"a9fbdb77.36b3e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b9672cef.06dab","type":"rpi-gpio in","z":"a9fbdb77.36b3e8","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":100,"y":340,"wires":[["f6fcc706.d0e7d8","e084f183.aaf96"]]},{"id":"e084f183.aaf96","type":"debug","z":"a9fbdb77.36b3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":280,"wires":[]},{"id":"58705f8f.6278b","type":"rpi-gpio out","z":"a9fbdb77.36b3e8","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":610,"y":400,"wires":[]},{"id":"f6fcc706.d0e7d8","type":"switch","z":"a9fbdb77.36b3e8","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":400,"wires":[["5b1509bd.efc558"],["859d9e58.64f11"]]},{"id":"5b1509bd.efc558","type":"change","z":"a9fbdb77.36b3e8","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":360,"wires":[["58705f8f.6278b"]]},{"id":"859d9e58.64f11","type":"change","z":"a9fbdb77.36b3e8","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":440,"wires":[["58705f8f.6278b"]]}]
