red3.py
[{"id":"6c2f622c.9f651c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2903327f.3e5d2e","type":"inject","z":"6c2f622c.9f651c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":180,"wires":[["ce208af2.8105f8"]]},{"id":"ce208af2.8105f8","type":"function","z":"6c2f622c.9f651c","name":"Payload","func":"msg.headers={\n    deviceKey: \"O7b3a1HIRdpQVnee\"\n};\n\nmsg.payload= \"node_temp,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["91b4da9a.c11428"]]},{"id":"91b4da9a.c11428","type":"http request","z":"6c2f622c.9f651c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DPdIqkyZ/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":180,"wires":[["648f50ec.59dc4","6c4f58c4.ae0068"]]},{"id":"648f50ec.59dc4","type":"http response","z":"6c2f622c.9f651c","name":"","statusCode":"","headers":{},"x":570,"y":180,"wires":[]},{"id":"6c4f58c4.ae0068","type":"debug","z":"6c2f622c.9f651c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":280,"wires":[]}]
